fastapi==0.115.12
agentic-doc
langchain-core==0.3.66
langgraph==0.2.60
google-generativeai==0.8.5
minio==7.2.20
numpy==1.26.4
pandas==2.1.4
pika==1.3.2
prometheus-client==0.21.1
psycopg2-binary==2.9.10
python-dotenv==1.0.1
requests==2.32.3
ddgs==9.13.1
crawl4ai==0.8.6
qdrant-client==1.14.2
sentence-transformers==3.4.1
SQLAlchemy==1.4.54
uvicorn[standard]==0.34.0
